   @import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;

   }

   /*----------------------------
         Common Styles
    ------------------------------ */
   .body {
       font-family: 'Work Sans', sans-serif;
       /* height: 100vh; */
   }

   .btn {
       color: #FFFFFF;
       background: #FF900E;
       border: none;
       text-decoration: none;
       font-weight: 600;
       font-size: 20px;
       padding: 20px;
       border-radius: 10px;
   }

   /*-----------------------------
             header-nav
    ------------------------------*/
   header {
       background: rgba(255, 144, 14, 0.1);
   }

   .nav-bar {
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding: 4%;
   }

   .nav-title>h3 {
       font-weight: 600;
       font-size: 45px;
   }

   .nav-item {
       font-size: 18px;
       line-height: 26px;
       color: #424242;
   }

   ul {
       display: flex;
       gap: 50px;
   }

   li {
       list-style: none;
   }
   /*--------------------------------------------
                        Brand New 9section-1
    --------------------------------------------- */
    .brand{
        margin-top: 20px;
        padding-bottom: 20px;
    }
    .brand-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
 
    }
 
    .brand-title>h3 {
        color: #131313;
        font-weight: 700;
        font-size: 54px;
    }
 
    .brand-info>P {
        color: #727272;
        font-weight: 400;
        font-size: 16px;
    }
 
    .brand-banner-img {
        width: 60%;
    }
 
    .brand-banner-img>img {
        max-width: 100%;
        height: auto;
   
    }
   /*--------------------------------------------
                        main
    -------------------------------------------- */
   main {
       margin-top: 20vh;
   }

  
    /*--------------------------------------------------
                            Quick list (section-2)
     ---------------------------------------------------*/
   

   .company-container {
       display: flex;
       align-items: center;
       gap: 70px;
       margin-top: 100px;
       margin-left:15%;

   }

   .company-images {
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       grid-column-gap: 15px;
       grid-row-gap: 15px;

   }

   .company-image {
       width: 100%;
   }

   .company-image>img {
       max-width: 100%;
       height: auto;
   }

   .company-info {
       display: flex;
       flex-direction: column;
       gap: 25px;
   }

   .company-title {
       font-weight: 700;
       font-size: 45px;
   }

   #qlist {
       color: #727272;
   }

   #of-our {
       color: #131313;
   }

   #feature {
       color: #FF900E;
   }

   .brand-info>p {
       font-weight: 400;
       font-size: 16px;
       color: #727272;
   }

   /*----------------------------------------------
 Features you will love & enjoy 
 -----------------------------------------------*/
   .future-text-image-container {
       margin-top: 20vh;
       display: flex;
       justify-content: center;
       align-items: center;
       gap: 30px;
       /* height: 70vh;
       width: 70%; */
       /* border: 5px solid black; */
   }

   .future-text-container {
       display: flex;
       flex-direction: column;
       /* width: 50%; */
   }

   .future-image-container {
       /* height: 100%; */
       /* width: 50%; */
   }

   .future-image-container>img {
       /* height: 100%;
       width: 100px;
       object-fit: cover;
       object-position: center; */
      
   }

   .title-container>h3 {
       font-weight: 500;
       font-size: 45px;
       color: #131313;
   }

   .title-container>p {
    font-size: 16px;
    
    color: #727272;
   }

   .company-features {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    gap: 20px;
   }
   .feature{
    box-shadow: 3px 3px red, -1em 0 .4em olive;
   }
   .feature>h4 {
       font-weight: 600;
       font-size: 20px;
   }

   .feature>p {
       font-size: 16px;
       color: #727272;
   }
   .brand-btn2>button{
    color: #FFFFFF;
    background: #FF900E;
    border: none;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    padding: 20px;
    position: absolute;
    margin-left: 52%;
    margin-top: -4%;
    }



   /*--------------------------------------------
                            Some fact 
--------------------------------------------*/
   .some {
       margin-top: 5vw;
       padding-left: 80px;
   }

   .some-container {
       width: 50vh;
   }

   .some-container>h3 {
       color: #131313;
       font-weight: 700;
       font-size: 35px;
   }

   .some-container>p {
       color: #727272;
       font-weight: 400;
       font-size: 16px;
   }

   /*---------------------------------------
                Company achievement 
    ---------------------------------------*/
   .achievements {
       margin-top: 40px;

   }

   .achievement {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       border: 1px solid #FF900E;
       padding: 20px;
       border-radius: 8px;

   }

   .achievement:hover {
       border: 2px solid navy;
       /* position: sticky; */

   }

   .achievement>i {
       font-size: 45px;
   }

   .achievement>h3 {
       font-weight: 600;
       font-size: 45px;
       color: #424242;
   }

   .achievement>h4 {
       font-weight: 600;
       font-size: 20px;
       color: #727272;
   }

   .all-achivements {
       display: flex;
       justify-content: space-evenly;
   }

   /*--------------------------------------
                    Sponspors
    --------------------------------------*/
   .sponspors {
       margin-top: 6vw;

   }

   .sponspors-container {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       gap: 15px;

   }

   .sponspors-title {
       font-weight: 700;
       font-size: 35px;
       color: #131313;
   }

   .sponspors-info {
       font-weight: 400;
       font-size: 16px;
       color: #727272;
   }

   /*----------------------------------
                Sponspors icon
    ----------------------------------- */
   .sponsporsor-icon {
       margin-top: 4vw;
   }

   .icons {
       display: flex;
       align-items: center;
       justify-content: space-around;
   }

   /*----------------------------------------
                        footer
     ---------------------------------------- */
   .footer {
       margin-top: 6vw;
       padding: 40px;
       text-align: center;
       background: #FFF4E7;
       border-radius: 8px;
   }