   @import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;

   }

   /*----------------------------
         Common Styles
    ------------------------------ */
   .body {
       font-family: 'Work Sans', sans-serif;
   }

   .btn {
       color: #FFFFFF;
       background: #FF900E;
       border: none;
       text-decoration: none;
       font-weight: 600;
       font-size: 20px;
       padding: 20px;
       border-radius: 10px;
   }

   /*-----------------------------
             header-nav
    ------------------------------*/
   header {
       background: rgba(255, 144, 14, 0.1);
   }

   .nav-bar {
       display: flex;
       justify-content: space-around;
       align-items: center;
       margin-top: 3%;
   }

   .nav-title>h3 {
       font-weight: 600;
       font-size: 45px;
   }

   .nav-item {
       font-size: 18px;
       line-height: 26px;
       color: #424242;
   }

   ul {
       display: flex;
       gap: 50px;
   }

   li {
       list-style: none;
   }

   /*--------------------------------------------
                        main
    -------------------------------------------- */
   main {
       margin-top: 20vh;
   }

   /*--------------------------------------------
                        Brand New 9section-1
    --------------------------------------------- */
   .brand-container {
       display: flex;
       flex-direction: column;
       align-items: center;
       gap: 30px;

   }

   .brand-title>h3 {
       color: #131313;
       font-weight: 700;
       font-size: 64px;
   }

   .brand-info>P {
       color: #727272;
       font-weight: 400;
       font-size: 16px;
   }

   .brand-banner-img {
       width: 60%;
   }

   .brand-banner-img>img {
       max-width: 100%;
       height: auto;
    /*--------------------------------------------------
                            Quick list (section-2)
     ---------------------------------------------------*/
   }
   .company-container{
        display: flex;
        align-items: center;
        gap: 70px;
        margin-top: 100px;
        
   }
   .company-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;

   }
   .company-image {
    width: 100%;
   }

   .company-image>img {
       max-width: 100%;
       height: auto;
   }